<div class="app-sidenav__content">
  <div class="app-sidenav__content--img">
    <img src="/assets/img/no-avatar.png" alt="">
  </div>
  <div class="app-sidenav__content--info">
    <h5>Nguyễn Văn Mai Cành Lá</h5>
    <ul class="app-sidenav__content--detail">
      <li>
        <a href="javascript:void(0);">Bệnh viện phụ sản</a>
      </li>
      <li>
        <a href="javascript:void(0);">Nhi khoa</a>
      </li>
      <li class="text-red">
        <a href="javascript:void(0);">Số tiền trong ví</a>
      </li>
    </ul>
  </div>
</div>
<div class="app-side__menu">
  <h4>Phòng khám</h4>
  <mat-nav-list class="app-side__menu--list">
    <a href="javascript:void(0);" mat-list-item routerLink="/phong-kham/benh-nhan-cua-toi">Bệnh nhân của tôi</a>
    <a href="javascript:void(0);" mat-list-item routerLink="/phong-kham/cau-hoi">Câu hỏi</a>
    <a href="javascript:void(0);" mat-list-item routerLink="/list-patient">Notfound</a>
  </mat-nav-list>

  <mat-nav-list class="app-side__menu--list">
    <a href="javascript:void(0);" mat-list-item routerLink="/auth/logout">Thoát</a>
  </mat-nav-list>
</div>
