$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$grey-light: #fefefe;

$color-main: #000;
$color-white: #fff;
$main-bg: #42a5f5;
$main-grey: #e9e9ef;
$main-grey-border: #ccc;
